body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    background-color: black;
}

.header {
    background-color: black;
    padding: 5px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 8px;
    color: white;
    font-size: 24px;
}


ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    gap: 8px;
    list-style: none;
}

.link-one {
    font-size: 22px;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.link-two {
    font-size: 22px;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 300px;
    background-image: url(img/roof.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-header {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    margin-top: 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    
}

.about {
    background-color: rgb(75, 75, 75);
    border: 50px solid black;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
    padding: 60px;
    margin-bottom: -10px;

}

.contact {
    background-color: rgba(249, 249, 249, 0.763);
    font-size: 24px; 
    color: black;
    font-weight: bold;
    margin-top: -10px;
    padding: 60px;
    margin-bottom: -10px;
}

input[type=text] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 30%;
    padding: 12px 32px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;

  }

.logo {
    display: flex;
    justify-content: center;
    padding-left: 450px;
    background-color:rgb(240, 240, 240);
    margin-top: -10px;
    padding: 20px;
    margin-bottom: -10px;
}

.footer {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  a:active {
    color: white;
  }